@import "tailwindcss";

:root {
  --background: #080708;
  --foreground: #ededed;
  --font-montserrat: "Montserrat", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
  --font-vcr-osd-mono: "VCR OSD Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-vcr-osd-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080708;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.vcr-font {
  font-family: var(--font-vcr-osd-mono);
}

.unbounded-font {
  font-family: var(--font-unbounded);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient {
  background-size: 200% 100%;
  animation: gradient 3s linear infinite;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px #232323;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #8B5CF6;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #A78BFA;
}

@media (min-width: 768px) {
  .popupscroll::-webkit-scrollbar {
    width: 10px;
  }

  .popupscroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }

  .popupscroll::-webkit-scrollbar-thumb {
    background-color: #8B5CF6;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .popupscroll::-webkit-scrollbar-thumb:hover {
    background-color: #A78BFA;
  }

  .popupscroll {
    scrollbar-width: thin;
    scrollbar-color: #8B5CF6 rgba(255, 255, 255, 0.05);
  }
}

@media (max-width: 767px) {
  .popupscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .popupscroll::-webkit-scrollbar {
    display: none;
  }
}