@import "tailwindcss";

:root {
  --background: #080708;
  --foreground: #ededed;
  --font-montserrat: "Montserrat", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
  --font-vcr-osd-mono: "VCR OSD Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-vcr-osd-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080708;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.vcr-font {
  font-family: var(--font-vcr-osd-mono);
}

.unbounded-font {
  font-family: var(--font-unbounded);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient {
  background-size: 200% 100%;
  animation: gradient 3s linear infinite;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px #232323;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
